# Google stock prediction using linear regression

## We will use quandl to get the dataset

In [29]:
import pandas as pd
import quandl
df=quandl.get('WIKI/GOOGL')

### Lets check out how the data looks like.
- So lets print first 5 rows.

In [30]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [31]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Ex-Dividend', 'Split Ratio',
       'Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume'],
      dtype='object')

**Okay so we have some columns out here.There are 2 columns that should be added by us to make good predictions.**
- one column that we should add is change in stocks which is described below as 'Change'

- and other column we should add is percentage change in high and close columns described by 'High_low_percent'

In [32]:
df=df[['Adj. Open', 'Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']]
df['Change']=(df['Adj. Close']-df['Adj. Open'])/df['Adj. Open']
df['High_low_percent']=(df['Adj. High']-df['Adj. Close'])/df['Adj. Close']

In [33]:
df=df[['Adj. Volume','Adj. Close','Change','High_low_percent']]

In [34]:
df.head()

            Adj. Volume  Adj. Close    Change  High_low_percent
Date
2004-08-19   44659000.0   50.322842  0.003250          0.037126
2004-08-20   22834300.0   54.322689  0.072270          0.007109
2004-08-23   18256100.0   54.869377 -0.012279          0.037294
2004-08-24   15247300.0   52.597363 -0.057264          0.064175
2004-08-25    9188600.0   53.164113  0.011837          0.018868

### Shifting out 1% data upwards

In [44]:
prediction_shift=int(0.01*len(df))

In [45]:
prediction_shift

34

In [46]:
temp_variable='Adj. Close'

### defining labels

In [53]:
df['labels']=df[temp_variable].shift(-prediction_shift)

In [54]:
df.head()

            Adj. Volume  Adj. Close    Change  High_low_percent     labels
Date
2004-08-19   44659000.0   50.322842  0.003250          0.037126  69.639972
2004-08-20   22834300.0   54.322689  0.072270          0.007109  69.078238
2004-08-23   18256100.0   54.869377 -0.012279          0.037294  67.839414
2004-08-24   15247300.0   52.597363 -0.057264          0.064175  68.912727
2004-08-25    9188600.0   53.164113  0.011837          0.018868  70.668146

In [55]:
from sklearn import preprocessing,cross_validation,svm
from sklearn.linear_model import LinearRegression

### Finally we define features and labels for prediction

In [56]:
import numpy as np

In [60]:

X=np.array(df.drop(['labels',1]))
Y=np.array[df['labels']]

ValueError: labels ['labels' 1] not contained in axis